* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif
}
marquee{
    background-color: #c95050;
    min-height:3vh;
}
.header{
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/admission.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content:space-between;
    align-items: center;
}
nav img{
    width: 180px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    

}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition:0.3s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width:90%;
    color: #fff;
    position: absolute;
    top:60%;
    left:51%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin:10px 0 40px;
    font-size:18px;
    color:#fff;
    
}
.hero-btn{
    display:inline-block;
    text-decoration: none;
    color:#fff;
    border:1px solid #fff;
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;    
}
.hero-btn:hover{
    border:3px solid #f44336;
    background: #f44336;
    transition:1s;
}
/*----- bachelor admission -----*/
.bachelor{
    width:80%;
    margin: auto;
    text-align: justify;
    padding-top: 10px;
}
h1{
    font-size:36px;
    font-weight:600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight:300;
    line-height:22px;
    padding:10px;
}
.row{
    margin-top:1%;
    display: flex;
    justify-content: space-between;
}
.bachelor-col{
    flex-basis:44%;
    background:#fff3f3;
    border-radius:30px;
    margin-bottom:5%;
    padding:20px 20px;
    box-sizing: border-box;
    transition: 0.5s
}
/*-----Master admission-----*/
.master{
    width:80%;
    margin: auto;
    text-align: justify;
    padding-top: 10px;
}
h1{
    font-size:36px;
    font-weight:600;
}
p{
    color: rgb(9, 9, 9);
    font-size: 20px;
    font-weight:300;
    line-height:22px;
    padding:10px;
}
.row{
    margin-top:1%;
    display: flex;
    justify-content: space-between;
}
.master-col{
    flex-basis:44%;
    background:#fff3f3;
    border-radius:30px;
    margin-bottom:5%;
    padding:20px 20px;
    box-sizing: border-box;
    transition: 0.5s
}
/*----- International student admission -----*/
.international{
    width:80%;
    margin: auto;
    text-align: justify;
    padding-top: 100px;
}
h1{
    font-size:36px;
    font-weight:600;
}
p{
    color: rgb(10, 9, 9);
    font-size: 20px;
    font-weight:300;
    line-height:22px;
    padding:10px;
}
.international-col{
    background:#fff3f3;
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 20px;
    box-sizing: border-box;
    transition: 0.5s;
}
.is{
    width:80%;
    margin: auto;
    text-align: justify;
    padding-top: 10px;
}
.is-col{
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 20px;
    box-sizing: border-box;
    transition: 0.5s;
}
/*----- Tuition fees -----*/
.tuition{
    width:80%;
    margin: auto;
    text-align: justify;
    padding-top: 100px;
}
h1{
    font-size:36px;
    font-weight:600;
}
p{
    color: rgb(10, 9, 9);
    font-size: 20px;
    font-weight:300;
    line-height:22px;
    padding:10px;
}
.row{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
}
.tuition-col{
    flex-basis:31%;
    background:#fff3f3;
    border-radius:5px;
    margin-bottom:5%;
    padding:20px 20px;
    box-sizing: border-box;
    transition: 0.5s;
}
table{
    width: 400px;
}
th{
    text-align: left;
}
table, th, td{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border:3px solid #000;
    border-collapse: collapse;
}
/*----- English Prepatory School -----*/
.english{
    width:80%;
    margin: auto;
    text-align: justify;
    padding-top: 5px;
}
h1{
    font-size:36px;
    font-weight:600;
}
p{
    color: rgb(5, 5, 5);
    font-size: 20px;
    font-weight:300;
    line-height:22px;
    padding:10px;
}
.row{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
}
.engl-col{
    background:#fff3f3;
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 20px;
    box-sizing: border-box;
    transition: 0.5s;
}
/*-----Other fees -----*/
.fees{
    width:80%;
    margin: auto;
    text-align: justify;
    padding-top: 100px;
}
h1{
    font-size:48px;
    font-weight:600;
}
p{
    color: rgb(4, 3, 3);
    font-size: 14px;
    font-weight:300;
    line-height:22px;
    padding:10px;
}
li {
    list-style-type: circle;
}
.row{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
}
.row2 img{
    width: 0%;
    height: 20%;
}
.fees1{
    flex-basis:31%;
    background:#fff3f3;
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing: border-box;
    transition: 0.5s
}
/*------Footer-----*/
.footer_bro{
    width:100%;
    height: 400px;
    text-align: center;
    padding:40px 0;
    background-image: linear-gradient(rgba(14, 16, 25, 0.916),rgba(23, 23, 25, 0.7)),url(../images/nightuni.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.foot_bro a {
    text-decoration: none;
    color:white;
}
.footer_bro p{
    text-decoration:none ;
    color:white;
}
.footline{
    border-top: 1px solid white;
    margin-top:20px;
    padding-top:10px;
}
